*{ padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a {

    text-decoration: none;
}
#div1{
    position: sticky;
}
#nav{
color: teal;
position: sticky;
top: 0;
background-color: teal;
display: flex;
justify-content: space-between;

 
}
#logo{ 
color: rgb(255, 255, 255);
margin: 30px;
margin-left: 30px;

}

#nav ul{ 
    display: flex;
    list-style: none;
    align-items: center;
    
    

}
#nav ul li{ 

    
    margin: 0px 25px;
    padding: 5px;

}
#nav ul li a:hover{
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    padding: 20px;
    color: rgb(5, 5, 5);
    
}
#nav ul li a{
    color: white;
}
#div2 {
    text-align: center;
    background: url("img/lea.jpg") no-repeat center/cover ;
    height: 100%;
    width: 100%;

}
.nav2 a:hover{ background-color:white;
    padding: 19px;
    border-radius: 10px
    ;
   
}
#div3{
    display: flex;



}
.nav3{
 flex: 1;
 background-color: rgb(199, 245, 253);
 text-align: right;
 

 


}
.nav4{
    flex: 1;
    background: url("img/learn3.jpg") no-repeat center center/cover;

}
#div6{
    display: flex;
    


}
.nav5{
    flex: 1;
    background: url("img/learn8.jpg") no-repeat center center/cover;
    





}
.nav6{
    flex: 1;
    background-color: rgb(41, 205, 255);
}
.nav6 ul{
    list-style: none;
    display: flex;
    margin: 0cm 70px;
    justify-content: space-between;
    margin-top: 30px;
    direction: rtl;
    

}
.nav9{

    direction: rtl;
    
    margin: 30px;
    padding: 30px;
    background-color: teal;
   text-align: center;


}


    
  



